button {
    cursor: pointer;
  }



body {
    font-family: 'Pacifico', cursive;
    background-image: url(Tagore\ Love\ Quote\ Desktop\ Wallpaper.png);
    padding: 50px;
  }

  h1:hover {
    color: tomato;
    /* font-size: 2.5em; */
    margin-right: 20px;
  }
 .card-body:hover {

  }
  a:hover {
    /* color: tomato; */
    font-size: 2.5em;
  }